allow gpsd radio_device:chr_file rw_file_perms;

allow gpsd rild_socket:sock_file rw_file_perms;

unix_socket_connect(gpsd, rild, rild);

allow gpsd sensorservice_service:service_manager find;
allow gpsd rootfs:lnk_file r_file_perms;

# Use sockets provided by system_server via binder or local socket.
allow gpsd system_server:unix_stream_socket { read write setopt getattr getopt shutdown };

#for text relocs & execution
allow gpsd shell_exec:file { rx_file_perms entrypoint };
allow gpsd system_file:file { execute_no_trans execmod };
allow gpsd gps_device:chr_file { getattr setattr };
allow gpsd gps_data_file:dir rw_dir_perms;
allow gpsd gps_data_file:file { create rw_file_perms };
allow gpsd gps_data_file:fifo_file create_file_perms;

allow gpsd node:udp_socket { node_bind name_bind };
allow gpsd port:tcp_socket name_connect;
allow gpsd self:tcp_socket { getopt write read };
allow gpsd proc:file { append getattr open};
allow gpsd radio_sysfs_file:file { read write open };

allow gpsd sysfs:file { setattr write };
allow gpsd gps_device:chr_file rw_file_perms;
allow gpsd gpsd:udp_socket { create bind };
allow gpsd gpsd:tcp_socket { create connect };
allow gpsd fwmarkd_socket:sock_file write;
allow gpsd dnsproxyd_socket:sock_file write;
allow gpsd netd:unix_stream_socket connectto;
allow gpsd init:unix_stream_socket { rw_socket_perms listen accept };
binder_use(gpsd)
binder_call(gpsd, system_server)
set_prop(gpsd, gps_prop);
wakelock_use(gpsd)
