type pvrsrvctl, domain;
type pvrsrvctl_exec, exec_type, file_type;
init_daemon_domain(pvrsrvctl)

allow pvrsrvctl self:capability sys_admin;
allow pvrsrvctl gpu_device:chr_file rw_file_perms;
allow pvrsrvctl graphics_device:chr_file rw_file_perms;
allow pvrsrvctl rootfs:lnk_file r_file_perms;

allow pvrsrvctl kernel:system module_request;
allow pvrsrvctl self:capability { sys_module };
allow pvrsrvctl system_file:file x_file_perms;
allow pvrsrvctl shell_exec:file rx_file_perms;
allow pvrsrvctl pvrsrvctl_exec:file rx_file_perms;
allow pvrsrvctl property_socket:sock_file write;
allow pvrsrvctl init:unix_stream_socket connectto;
