#============= surfaceflinger ==============
allow surfaceflinger display_service:service_manager add;
allow surfaceflinger display_service:service_manager find;
allow surfaceflinger self:capability { dac_override net_admin sys_admin };

